.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.caption a{
    text-decoration: none;
    color: #000;
}

.caption a:hover{
    color: #0077CC;
}

#delete-form{
    display: inline;
}