body{
    background: #eee;
    
}

.jumbotron{
    background: #323232;
    color: #fff;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

div.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}
div.flex .item {
    min-width: 15em;
    -webkit-flex: 1 1 15em; /* this */
    flex: 1;
} 

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.caption a{
    text-decoration: none;
    color: #000;
}

.price{
    text-decoration: none;
    color: #000;
}

.price:hover{
    text-decoration: none;
    color: #0077CC;
}

.caption a:hover{
    color: #0077CC;
}

#delete-form{
    display: inline;
}