<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>This is the Campgrounds Page</h1>    
        <p>Check out more for best camping experience</p>
         <p>
            <a class="btn btn-primary btn-lrg" href="/campgrounds/new">Add new Campground</a> 
         </p>
            
    </header>
    
    

    <% campgrounds.forEach(function(camps){ %>
        <div>
            <h4><%= camps.name %></h4>
            <img style="width: 300px" src="<%= camps.image %>">
        </div>
    <% }); %>   
</div>


<% include partials/footer.ejs %>
