<% include partials/header %>

<h1>This is the Campgrounds Page</h1>

<% campgrounds.forEach(function(camps){ %>
    <div>
        <h4><%= camps.name %></h4>
        <img style="width: 300px" src="<%= camps.image %>">
    </div>
<% }); %>

<% include partials/footer.ejs %>
